<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="smarts1-startapp-plugin" version="0.0.1">
    <name>StartApp Ads</name>
    <description>StartApp Ads By Smarts El-Wady</description>
    <license>Apache 2.0</license>
    <keywords>cordova,startapp</keywords>
    <js-module src="www/startapp.js" name="startapp">
        <clobbers target="startapp" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="startapp">
                <param name="ios-package" value="startapp"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>
		
		<framework src="CoreTelephony.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="StoreKit.framework" />
		<framework src="AdSupport.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="CoreMedia.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="libz.tbd" />
		
         <framework src="AudioToolbox.framework" />
         <framework src="CoreBluetooth.framework" />
         <framework src="CoreLocation.framework" />
         <framework src="CoreMotion.framework" />
         <framework src="CoreVideo.framework" />
         <framework src="EventKit.framework" />
         <framework src="EventKitUI.framework" />
         <framework src="Foundation.framework" />
         <framework src="GLKit.framework" />
         <framework src="MediaPlayer.framework" />
         <framework src="MessageUI.framework" />
         <framework src="OpenGLES.framework" />
         <framework src="SafariServices.framework" />
         <framework src="UIKit.framework" />
		
        <header-file src="src/ios/startapp.h" />
        <source-file src="src/ios/startapp.m" />
		<resource-file src="src/ios/StartApp.bundle" />
		
		<header-file src="src/ios/Headers/STAAbstractAd.h" />
		<header-file src="src/ios/Headers/STABannerSize.h" />
		<header-file src="src/ios/Headers/STABannerView.h" />
		<header-file src="src/ios/Headers/STANativeAdDetails.h" />
		<header-file src="src/ios/Headers/STASplashPreferences.h" />
		<header-file src="src/ios/Headers/STAStartAppAd.h" />
		<header-file src="src/ios/Headers/STAStartAppNativeAd.h" />
		<header-file src="src/ios/Headers/STAStartAppSDK.h" />

		
		
		<resource-file src="src/ios/Headers/StartApp" />
    </platform>
</plugin>
